<form class="form-inline" action="/" method="post">{% csrf_token %}
    {{form.errors}}

    <div class="input-prepend">
        <span class="add-on"><i class="icon-tag"></i></span>
        <input id="id_category" maxlength="200" name="category" type="text" placeholder="Category"/>
    </div>

    <div class="input-prepend">
        <span class="add-on">$</span>
        <input class="input-mini" id="id_value" name="value" type="text" placeholder="Value"/>
    </div>

    <div class="input-prepend">
        <span class="add-on"><i class="icon-calendar"></i></span>
        <input id="id_date" class="datepicker input-small" name="date" type="text" placeholder="Date" />
    </div>

    <div class="input-prepend">
        <span class="add-on"><i class="icon-pencil"></i></span>
        <input id="id_description" maxlength="200" name="description" type="text" placeholder="Description (Optional)"/>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
