{% load i18n %}

<div class="panel-heading">
    {% trans "Categories" %}
</div>

<div class="panel-body">
    <div class="toolbar">
        <button class="btn btn-default" ng-click="createCategory()">
            {% trans "New category" %}
            <i class="icon-plus icon-large"></i>
        </button>

        <span class="input-icon pull-right">
            <i class="icon-search input-icon-prepend icon-large"></i>
            <input type="text" role="search" class="input-lg" ng-model="search.name" placeholder="{% trans "Search categories"%}">
        </span>
    </div>

    <table class="table table-striped category-table">
        <thead>
            <tr>
                <th>{% trans "Color" %}</th>
                <th>{% trans "Name" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in categories | filter:search" ng-click="editCategory(category)">
                <td>
                    <span class="category-label" ng-style="{backgroundColor: category.color}">&nbsp;&nbsp;&nbsp;</span>
                </td>

                <td class="category-name" ng-bind="category.name" width="99%"></td>
            </tr>
        </tbody>
    </table>

    <div id="empty-msg" ng-hide="categories.length"> 
        {% trans "No categories." %}
    </div>
</div>

<script type="text/ng-template" id="category-edit.html">
{% include "webapp/settings/category-edit.html" %}
</script>

