{% load i18n %}

<h4 class="panel-title">{% trans "Categories" %}</h4>

<button class="btn" ng-click="createCategory()"><i class="icon-plus icon-large"></i> {% trans "New category" %}</button>
<table class="category-table">
    <thead>
        <tr>
            <th>{% trans "Color" %}</th>
            <th>{% trans "Name" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="category-row" ng-repeat="category in categories" ng-click="editCategory(category)">
            <td>
                <span class="category-label" ng-style="{backgroundColor: category.color}">&nbsp;&nbsp;&nbsp;</span>
            </td>

            <td ng-bind="category.name"></td>
        </tr>
    </tbody>
</table>

<div id="empty-msg" ng-hide="categories.length"> 
    {% trans "No categories." %}
</div>
