{% load i18n %}

<div class="modal-dialog">
<div ng-controller="CategoryEditCtrl" class="modal-content">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{% trans "Edit category" %}</h3>
</div>

<div class="modal-body">
    <form class="form-horizontal" name="category_form">
        <div class="control-group">
            <label class="control-label" for="name">{% trans "Name" %}</label>
            <div class="controls">
                <span class="input-icon">
                    <input type="text" name="name" ng-model="editing_category.name" required>
                    <i
                        class="icon-exclamation icon-2x input-icon-append input-error"
                        ng-show="category_form.name.$error.required && category_form.name.$dirty"
                        ></i>
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cor">{% trans "Color" %}</label>
            <div class="controls">
                <input type="text" name="cor" ng-model="editing_category.color" colorpicker>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button
        ng-click="removeCategory(category)"
        ng-show="editing_category.id"
        confirmation-needed="{% trans "Do you wish to remove this category?"%}"
        class="remove-category btn btn-link">
        
        {% trans "Remove category" %}</button>

    <button type="button" class="btn" ng-click="hide()">{% trans "Cancel" %}</button>
    <button class="btn btn-primary" ng-click="saveCategory()">{% trans "Save" %}</button>
</div>

</div>
</div>
