{% load i18n %}

<h4 class="panel-title">{% trans "Reminders" %}</h4>

<div ng-repeat="reminder in reminders" class="reminder">
    <p>
        <span ex-category="reminder.category"></span>
        <span ex-currency ex-currency-value="reminder.value"></span>
    </p>
    <p>
        <span>{% trans "Repeats: " %} ((reminder.repeat))</span>
    </p>
    <p>
        <span>{% trans "Due: " %} ((reminder.due_date | date:mediumDate))</span>
    </p>

</div>

<div id="empty-msg" ng-hide="reminders.length">
    {% trans "No reminders." %}
</div>
