{% load i18n %}

<div class="left-column">
    <h4 class="area-header">{% trans "Menu" %}</h4>

    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-list" id="settings-menu">
                <li ng-class="{active: $state.includes('settings.categories')}"><a href="#/settings/categories">{% trans "Categories" %}</a></li>
                {% comment %}
                <li ng-class="{active: $state.includes('settings.reminders')}"><a href="#/settings/reminders">{% trans "Reminders" %}</a></li>
                {% endcomment %}
            </ul>
        </div>
    </div>
</div>

<div class="content-column-right" ui-view>
</div>
