{% load i18n %}


<div id="transaction-list-panel">

    <h4 class="area-header">{% trans "Movimentações parceladas" %}</h4>

    <div class="panel-group" id="split-transactions">
        <div id="split-transaction-(($index))" class="panel panel-default transaction-group" ng-repeat="split in splitTransactions">

            <div class="panel-heading"
                    data-toggle="collapse"
                    class="accordion-toggle"
                    href="#split(($index))"
                    data-parent="#split-transactions"
                    {% comment %}track="click,Transactions,open-category" {% endcomment %}>

                <h4 class="panel-title">
                    <a ng-bind="split.description || '({% trans "Sem descrição" %})'"></a>

                    <span class="group-total pull-right" ng-bind="split.total_value | currency" is-positive-class="split.total_value"></span>
                </h4>
            </div>

            <div id="split(($index))" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-striped transaction-table">
                        <thead><tr>
                            <td class="date-column-header">
                                {% trans "Date" %}
                            </td>
                            <td class="description-column-header">
                                {% trans "Description" %}
                            </td>
                            <td class="installment-data-column-header"></td>
                            <td class="value-column-header">
                                {% trans "Value" %}
                            </td>
                            <td class="action-bar-header"></td>
                        </tr></thead>

                        <tbody>
                        <tr class="transaction-row"
                            ng-repeat="transaction in split.transactions">

                            <td class="date-column" ng-bind="transaction.date | date:'dd/MM'"></td>

                            <td class="description-column" ng-bind="transaction.description" hashtagged></td>

                            <td class="installment-data-column">
                                <a
                                        ng-bind="transaction.installment_data"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        tooltip
                                        title="{% trans "Número desta parcela" %}"></a>
                            </td>

                            <td class="value-column" is-positive-class="transaction.value">
                                <span ng-bind="transaction.value | currency"></span>
                            </td>

                            <td class="action-bar" ex-actionbar ng-controller="TransactionActionBarCtrl">
                                <i
                                        class="fa fa-trash-o fa-lg delete-transaction"
                                        ng-click="removeTransaction()"
                                        confirmation-needed="{% trans "Do you wish to remove this category?" %}"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        data-container="body"
                                        tooltip
                                        title="{% trans "Remove this transaction" %}"
                                        ></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>