{% load i18n %}

<form id="signin-form" method="POST" action="{% url "login" %}">{% csrf_token %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h2>{% trans "Please sign in" %}</h2>

    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{error}}
        </div>
    {% endfor %}

    <div class="control-group {% if form.username.errors %}error{% endif %}">
        <div class="controls input-icon">
            <i class="icon-envelope input-icon-prepend"></i>
            <input
                type="text"
                name="username"
                class="input-block-level"
                placeholder="{% trans "Email" %}"
                value="{{ form.username.value|default_if_none:"" }}"
            >

            {% for error in form.username.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="control-group {% if form.password.errors %}error{% endif %}">
        <div class="controls input-icon">
            <i class="icon-asterisk input-icon-prepend"></i>
            <input
                type="password"
                name="password"
                placeholder="{% trans "Password" %}"
                class="input-block-level"
            >

            {% for error in form.password.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <input type="submit" value="{% trans "Login" %}">

    <hr>

    <p><a href="{% url "password_reset_recover" %}">{% trans "Forgot your password?" %}</a></p>
    <p>{% trans "Not a user yet?" %} <a href="{% url "register" %}">{% trans "Sign up here!" %}</a></p>
</form>
