{% load i18n %}

<form id="login-inline" class="navbar-form form-inline pull-right" action="{% url "login" %}" method="POST">{% csrf_token %}

        <span class="input-icon">
            <i class="icon-envelope input-icon-prepend"></i>
            <input type="email" class="input-medium" name="username" placeholder="{% trans "Email" %}">
        </span>

        <span class="input-icon">
            <i class="icon-asterisk input-icon-prepend"></i>
            <input type="password" class="input-medium" name="password" placeholder="{% trans "Password" %}">
        </span>

    <input type="submit" value="{% trans "Login" %}">
</form>
