{% load i18n %}

<div ng-show="is_installment" ng-controller="InstallmentFormCtrl" class="animate-show animate-show-tall ng-hide" ng-form="installment-form">
    <div class="form-group input-icon">
        <label for="id_total_value" class="form-label">{% trans "Total value" %}</label>
        <i class="fa fa-dollar input-icon-prepend"></i>
        <input
                id="id_total_value"
                name="total-value"
                class="form-control"

                ng-model="installment.totalValue"
                ng-change="updateTotalValue()"
                currency-field

                ng-required="is_installment"

                autocomplete="off"
                />
    </div>
    <div class="form-group input-icon">
        <label for="id_value" class="form-label">{% trans "Installment value" %}</label>
        <i class="fa fa-dollar input-icon-prepend"></i>
        <input
                id="id_value"
                name="value"
                class="form-control"

                ng-model="installment.installmentValue"
                ng-required="is_installment"
                ng-change="updateInstallmentValue()"
                currency-field

                autocomplete="off"
                />
    </div>
    <div class="form-group input-icon">
        <label for="id_qty_installments" class="form-label">{% trans "Number of installments" %}</label>
        <i class="fa fa-calendar-o input-icon-prepend"></i>
        <input
                id="id_qty_installments"
                name="qty-installments"
                class="form-control"
                type="number"
                min="1"

                ng-model="installment.qtyInstallments"
                ng-required="is_installment"
                ng-pattern="/\d+/"
                ng-change="updateQtyInstallments()"

                autocomplete="off"
                />
    </div>
</div>


<div class="checkbox">
    <input
        id="installment_select"
        type="checkbox"
        ng-model="is_installment"
        ng-false-value="false"
        ng-true-value="true"
        >
    <label for="installment_select">{% trans "This is an installment purchase" %}</label>
</div>