{% load i18n %}


<div class="modal" tabindex="-1" role="dialog" ng-controller="TransactionFormCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">{% trans "Editar movimentação" %}</h4>
            </div>

            <div class="modal-body">
                <div>
                    <form
                            class="transaction-form form-horizontal"
                            name="transactionForm"
                            method="post"
                            id="transaction-form-edit"

                            novalidate
                            >

                        <div class="form-group">
                            <label for="edit_id_category" class="control-label">{% trans "Category" %}</label>
                            <div class="input-icon">
                                <i class="fa fa-tag input-icon-prepend"></i>
                                <select
                                        id="edit_id_category"
                                        name="category"
                                        class="form-control"

                                        ng-model="formData.category"
                                        category-field
                                        data-live-search="true"
                                        required

                                        ng-options="c.resource_uri as c.name group by c.group for c in categories | orderBy:c.position:true"
                                        >
                                </select>
                                <i
                                    class="fa fa-exclamation fa-lg input-icon-append input-error"
                                    ng-show="transactionForm.category.$error.required && transactionForm.category.$dirty"
                                    ></i>
                            </div>
                        </div>


                        <div class="form-group animate-show">
                            <label for="edit_id_value" class="control-label">{% trans "Value" %}</label>
                            <div class="input-icon">
                                <i class="fa fa-dollar input-icon-prepend"></i>
                                <input
                                        id="edit_id_value"
                                        name="value"
                                        class="form-control"

                                        ng-model="formData.value"
                                        currency-field

                                        required

                                        autocomplete="off"
                                        />
                            </div>
                        </div>

                        <div class="form-group" ng-show="is_installment">
                            <label class="control-label">{% trans "Parcela" %}</label>
                            <div>
                                <p class="form-control-static" ng-bind="formData.installment_data"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit_id_description" class="control-label">{% trans "Description" %}</label>
                            <div class="input-icon">
                                <i class="fa fa-pencil input-icon-prepend"></i>
                                <input
                                        id="edit_id_description"
                                        maxlength="200"
                                        name="description"
                                        type="text"
                                        class="form-control"

                                        ng-model="formData.description"

                                        placeholder="{% trans "Example: &quot;Lunch with friends&quot;" %}"
                                        autocomplete="off"
                                        />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="edit_id_date" class="control-label">{% trans "Date" %}</label>

                            <div
                                    date-field
                                    date-field-model="formData.date"
                                    id="edit_id_date"
                                    name="date"
                                    >
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default pull-left" ng-click="removeTransaction(editingTransaction)" confirmation-needed="{% trans "Deseja remover esta movimentação?" %}">
                    {% trans "Remover movimentação" %}
                    <i class="fa fa-trash-o fa-lg"></i>
                </button>


                <button ng-click="submit()" class="btn btn-primary" ng-disabled="sending" id="update-transaction">
                    {% trans "Submit" %}
                    <i ng-show="sending" class="fa fa-spinner fa-spin fa-lg"></i>
                    <i ng-hide="sending" class="fa fa-check fa-lg"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="$hide()">
                    {% trans "Fechar" %}
                    <i class="fa fa-times fa-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>


{% comment %}

{% endcomment %}