body {background: @white;}

.lead-custom {
    font-family: @font-family-custom-panel;
    }

.header {
    background-color: @white;
    display: block;
    max-width: 100%;
    height: 15%;
    .nav {
        margin-top: 58px;
        & a {
            font-family:@font-family-custom-title;
            }
        }
}
.background {
    height:120px;
    .stretch {
        background-image: url('../img/niqels-experimento.png');
        background-position:0% 50%; 
        max-width:100%; 
        height:87%;
        background-repeat:no-repeat;
        .hide-text();
    }
}
.bg-panel {
    background:@gray-lighter;
    margin-top: 2px;
    margin-left:-22px;
    .size(400px;100%);
    padding-bottom:38px;
    .panel {
        & :hover {
            background:@azul-escuro-lighter;
            color:@white;
        }
    }
        .panel-group {
            width:350px;
            margin-top: 1.5em;
            .center-block();
            .panel-title {
                font-family:@font-family-custom-panel;
                color:@gray-dark;
                & > a {
                    text-decoration: none;
                    &:hover {
                        color:@white;
                        }
                    }
                }
                & > p > .btn {
                    font-family: @font-family-custom-title;
                    }
            }
    }

.panel-body {
    line-height: 1.4em;
    font-size: @font-size-base;
    text-align: left;
}

.img-responsive {
    .img-responsive();
}

.marketing {
    padding:@padding-base-vertical;
    .make-md-column-offset(2);
    .make-row();
}

.btn-custom {
    margin-top: 3em;
}

.jumbotron {
    text-align:center;
    background:@azul-claro;
    .panel-fadein {
        .make-md-column-offset(1);
        background-repeat:none;
        }
        .btn {
            padding:(@modal-title-padding - 1) (@modal-inner-padding + 4) (@modal-title-padding + 2);
            text-shadow: 1px 1px 1px #333!important;
            background:@laranja;
            background-repeat:none;
                &:hover {
                    background:@laranja-dark;
                    border-color: @laranja-dark;

                    }
                }
            & > h1 {
                color:@gray-dark;
                font-family:@font-family-custom-title;
                font-weight:100;
                & > span {
                    color:#ffffff;
                    text-shadow: 1px 2px 2px #666666;
                    filter: dropshadow(color=#666666, offx=1, offy=2);
                    }
                }
    }

i {
    padding-left: 1em;
}

.fadein {
    height:400px; 
    width:500px;
    & > img {
        position:absolute;
        right:115px;
        margin-top:2px;}
    }
    
.panel-and-img-all {
    margin-left: -(percentage((2.5 / @grid-columns)));
    .panel-and-img {
        line-height:(@line-height-computed * 1.4);
        .size(700px;100%);
        padding:(@padding-base-vertical*2);
        & > h2 {
            font-family:@font-family-title-textos-h2;
            font-size: (@font-size-large * 2);
            font-weight: 700;
        }
        & > p {
            margin:0 5px;
            font-family:@font-family-textos;
            font-size: (@font-size-base + 2px);
            color:@azul-escuro-lighter;
            font-weight: 600; 
            // .custom-text {
            //    font-family:@font-family-custom-panel!important;
            //    font-size: @font-size-large;
            //    color:@gray-dark;

            // }
        }
    }
    .img-margin {
        // margin-top: 30px;
    }
}

.footer {
    background:@gray-lighter; 
    height:25px;  
    & > h5 {
        color:@gray;
        padding-top:6px;
        & > a {
            color:@gray-darker;
            &:hover {
                text-decoration:underline;
                }
            }
        }
    }

#bg-background-modal {
    display:none;
    background:transparent url('../img/bg-background-modal.png') repeat-x; 
    width:100%; 
    height:800px; 
    position:fixed; 
    top:0; 
    z-index: 0;

    #modal-custom-login {

            a.hiddenanchor {
                display:none; 
            }

            #wrapper-login {
                left:30%;
                top:10%;
                position:absolute;
                z-index:@zindex-modal;

                    & > h1 {
                        padding-top:@padding-base-vertical;
                        padding-bottom:(@padding-base-vertical * 2);
                        font-family:@font-family-custom-title;
                        font-size: @font-size-large;
                    }

                    #register, #login {
                        position: absolute;   
                        padding:@padding-base-vertical;
                        border: @modal-content-fallback-border-color;
                        background-color:@white;
                        h1 {
                            color:@azul-escuro-lighter;
                        }
                        & form > p {
                            padding:0 15px;
                        }
                        & label {
                            color:@gray-dark;
                            font-family:@font-family-custom-panel;
                        }
                        .modal-footer {
                            padding-right:10px;
                            margin-top: 40px;
                            background: @gray-lighter;

                             .change_link {
                                text-align: left;
                                color: @azul-escuro;
                                & a {
                                    color: @azul-escuro;
                                    text-decoration: underline;
                                    font-weight: bold;
                                }
                            }
                            .btn-custom-login {
                                margin: 5px 6px 0 0;
                                background:@azul-escuro-lighter;
                                &.btn-custom-cadastro {
                                    background:@laranja;
                                    text-shadow: 1px 1px 1px #333!important;
                                    &:hover, &:active {
                                        background:@laranja-dark;
                                    }
                                }
                                &:hover, &:active {
                                    background:@gray-darker;
                                    }
                                }
                        }

                    }
                    #register {
                        .size(500px;503px);
                        .modal-footer {
                            margin-top: 15px;
                        }
                    }
                    #login {
                        .size(500px;360px);
                        opacity: 0;
                        }

                    }
            }
    }



::-webkit-input-placeholder {
    color:@gray;
    font-family:@font-family-custom-panel;
    padding-top: 2px;
    font-size: @font-size-base;
}

input:-moz-placeholder,textarea:-moz-placeholder {
    color: rgb(190, 188, 188);
    font-family:@font-family-custom-panel;
    padding-top: 2px;
    font-size: @font-size-base;
}


#toregister:target ~ #wrapper-login #login,#tologin:target ~ #wrapper-login #register {
    z-index:@zindex-tooltip;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-name: scaleOut;
    -moz-animation-name: scaleOut;
    -ms-animation-name: scaleOut;
    -o-animation-name: scaleOut;
    animation-name: scaleOut;
}

.animate {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: both;
    -o-animation-duration: 0.5s;
    -o-animation-fill-mode: both;
    -ms-animation-duration: 0.5s;
    -ms-animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

#toregister:target ~ #wrapper-login #register,#tologin:target ~ #wrapper-login #login {
    z-index:@zindex-modal;
    -webkit-animation-delay: .6s;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-delay: .6s;
    -moz-animation-timing-function: ease-in;
    -o-animation-delay: .6s;
    -o-animation-timing-function: ease-in;
    -ms-animation-delay: .6s;
    -ms-animation-timing-function: ease-in;
    animation-delay: .6s;
    animation-timing-function: ease-in;
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    -ms-animation-name: scaleIn;
    -o-animation-name: scaleIn;
    animation-name: scaleIn;
}


