{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Expenses</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/datepicker.css" %}" rel="stylesheet" media="screen">
        <script src="{% static "js/jquery.js" %}"></script>

        {% block extrahead %}{% endblock extrahead %}
    </head>
    <body>
        {% block body %}{% endblock body %}

        <script src="{% static "js/bootstrap-tooltip.js" %}"></script>
        <script src="{% static "js/bootstrap-modal.js" %}"></script>
        <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
        <script src="{% static "js/jqBootstrapValidation.js" %}"></script>
        <script type="text/javascript">
        $(function(){
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy'
            });

            $('#id_value').tooltip();

            $('.entry-row').click(function(){
                $('#mymodal').modal('show');
            });

            //$(".entry-form input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        });
        </script>
    </body>
</html>
