form {
    &.form-inline {
        .input-icon {
            i.input-icon-prepend {
                top: 1px;
                left: 20px;
            }

            input {
                margin-left: 10px;
            }
        }
    }

    .input-icon {
        position: relative;

        i.input-icon-prepend {
            position: absolute;
            left: 10px;
            top: 5px;
        }

        i.input-icon-append {
            position: absolute;
            right: 10px;
            top: 5px;
        }

        input {
            text-indent: 23px;
        }
    }
}

i.input-error {
    //color: @errorText;
}
