.input-icon {
    position: relative;

    i.input-icon-prepend, i.input-icon-append {
        z-index: 10;
        position: absolute;
        bottom: (@padding-base-vertical + 1); //padding + border
    }

    i.input-icon-prepend {
        left: 10px;

        + input {
            text-indent: 20px;
        }
    }

    i.input-icon-append {
        right: 10px;
    }

    &[class^="col-"] {
        i.input-icon-prepend {
              left: (@grid-gutter-width / 2) + 10;
        }
    }
}

i.input-error {
    color: @state-danger-text;
}
