[id="signup-area"] {
    .well();

    form {
        width: 80%;
        margin: auto;
    }
}

section.main {
    background-image: url(../img/textured_paper.png);
}

form {
    &[id="register-form"], &[id="signin-form"] {
        input[type="submit"] {
            .btn();
            .btn-block();
        }
    }

    &[id="register-form"] {
        input[type="submit"] {
            .btn-danger();
        }
    }

    &[id="login-inline"] {
        input {
            &[type="submit"] {
                .btn();
            }
        }
    }
}
