@import "lib/bootstrap/bootstrap.less";
@import "lib/bootstrap/responsive.less";
@import "lib/datepicker.less";
@import "variables.less";

/*
 * OVERRIDES
 */
body {
    background-image: url(../img/ricepaper2.png);
}

.hero-unit {
    border: 1px solid @heroUnitBorder;
}

.navbar-fixed-top .navbar-inner {
    .container {
        padding: 20px 0px;
    }
}

.modal {
    .border-radius(0);
}

.popover {
    .border-radius(@baseBorderRadius) !important;
}

.well {
    border: 1px solid @panelBorder;
}

.datepicker {
    border: 1px solid #ccc;
	.border-radius(@baseBorderRadius) !important;

	/*table tr td {
		&.active,
		&.active:hover,
		&.active.disabled,
		&.active.disabled:hover {
			.buttonBackground(@btnPrimaryBackground, spin(@btnPrimaryBackground, 20));
			color: #fff;
			text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		}
    }*/
}

// modal override
.modal-backdrop.fade.in {
  .opacity(30) !important;
}

/*
 * /OVERRIDES
 */

@import "presentation.less";
@import "transaction-form.less";
@import "category-list.less";
@import "settings.less";

/*
 * GLOBAL STYLES
 */

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.affix {
    top: 20px;
    width: 230px;
}

.input-prepend {
    .add-on {
        .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
        background-color: #fff;
        border-right: 0;
        .border-radius(@baseBorderRadius) !important;
    }

    &.input-block-level {
        display: table;
        width: 100%;

        .add-on {
            display: table-cell;
        }
        
        > input {
            box-sizing: border-box;
            height: 30px;
            display: table-cell;
            width: 100%;
        }
    }

    input {
        border-left: 0;
    }
}

.center-form {
    width: 300px;
    margin: 0 auto;
    .well();
}

.navbar {
    margin-bottom: 20px;
}


span.category-label {
    .label();
    padding: 4px 6px;
    font-weight: normal;
}

.panel-title {
    text-align: center;
    margin-bottom: 30px;
}

/*
 * /GLOBAL STYLES
 */



/*
 * TRANSACTION LIST STYLES
 */

.reminder {
    .alert();
    .alert-block();

    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    
    p {
        margin-bottom: 10px;
    }

    .buttons {
        .pull-right();

        a {
            cursor: pointer;
        }

        .ok {
            color: @green;
        }

        .edit {
            color: @blue;
        }

        .skip {
            color: @red;
        }
    }
}

.transaction-table {
    .table();
    .table-striped();

    td {
        border-top: none;
    }

    .header {
        tr.transaction-list-day > th {
            font-size: 14px;
            //font-weight: normal;
            text-align: center;
        }

        tr.transaction-list-columns { 
            > th {
                font-weight: normal;

                &.value-column-header {
                    text-align: right;
                }

                &.description-column-header {
                    text-align: center;
                }
            }
        }
    }

    .transaction-row {
        td {
            // the delete icon
            &.action-bar {
                width: 10%;
                i{
                    .hide();
                    padding-right: 2px;
                    padding-left: 2px;
                    .pull-right();
                }
            }

            &.category-column {
                width: 10%;
            }
            &.description-column {
                width: 65%;
            }
            &.value-column {
                width: 15%;
                text-align: right;
            }
        }

        &.tr-hover {
            .action-bar i {
                .show();
            }
        }
    }
}

.month-selector {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;

    > button {
        .btn();
        .btn-small();
    }
}

#empty-msg {
    .alert();

    text-align: center;
}
 
.side-panel {
    .well();
}

/*
 * /TRANSACTION LIST STYLES
 */
