@import "lib/bootstrap/bootstrap.less";
@import "lib/typeahead.less";
@import (less) "lib/datepicker.css";
@import "variables.less";
@import "webapp-theme.less";


/*
 * OVERRIDES
 */

.left-column {
    .make-sm-column(5);
    .make-lg-column(3);
}

.content-column-middle {
    .make-sm-column(7);
    .make-lg-column(6);
}

.content-column-right {
    .make-sm-column(7);
    .make-lg-column(9);
}

.right-column {
    .make-sm-column(12);
    .make-lg-column(3);
}

.datepicker {
    border: 1px solid @input-border;
	border-radius: @border-radius-base !important;

    td, th, .active, .today, tr > td > span {
        border-radius: @border-radius-base !important;
    }
}

.btn {
    text-transform: uppercase;

    i {
        margin-left: 5px;
    }
}

a > i[class^="icon"] {
    margin-left: 5px;
}

/*
 * /OVERRIDES
 */

@import "presentation.less";
@import "transaction-form.less";
@import "category-list.less";
@import "settings.less";
@import "balance.less";
@import "charts.less";
@import "forms.less";
/*
*/

/*
 * GLOBAL STYLES
 */

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.affix {
    top: 20px;
    width: 230px;
}

.center-form {
    width: 300px;
    margin: 0 auto;
    .well();
}

span.category-label {
    .label();
    padding: 4px 6px;
    font-weight: normal;
}

/*
 * /GLOBAL STYLES
 */



/*
 * TRANSACTION LIST STYLES
 */

.reminder {
    //.alert();
    //.alert-block();

    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    
    p {
        margin-bottom: 10px;
    }

    .buttons {
        .pull-right();

        a {
            cursor: pointer;
        }

        .ok {
            //color: @green;
        }

        .edit {
            //color: @blue;
        }

        .skip {
            //color: @red;
        }
    }
}

thead tr th {
    font-style: italic;
    font-weight: normal;
}

#transaction-list-panel {
}

.transaction-table {
    &.transaction-list-columns { 
        th.value-column-header {
            text-align: right;
        }

        th.description-column-header {
            text-align: center;

        }
    }

    tbody + tbody {
        border-top: 0;
    }

    tr.transaction-list-day {
        td {
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }
    }

    .transaction-row {
        td {
            // the delete icon
            &.action-bar {
                width: 10%;
                i{
                    .hide();
                    padding-right: 2px;
                    padding-left: 2px;
                    .pull-right();
                }
            }

            &.category-column {
                width: 10%;
            }
            &.description-column {
                width: 65%;
            }
            &.value-column {
                width: 15%;
                text-align: right;
            }
        }

        &.tr-hover {
            .action-bar i {
                .show();
            }
        }
    }
}

.month-selector {
    margin-bottom: 20px;
    text-align: center;

    .previous-month {
    }

    .next-month {
    }

    .actual-month {
    }
}

.loading-spinner {
    width: 100%;
    text-align: center;
}

#empty-msg {
    text-align: center;
}

.area-header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.datepicker {
    background-color: @input-bg;
}

// fixing color on navbar dropdown item hover 
.navbar-nav li.dropdown {
    > ul.dropdown-menu > li > a:hover {
        color: @white;
    }

    a.dropdown-toggle {
        cursor: pointer;
    }
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    
    img {
        max-height: @navbar-height;
    }
}

.btn {
    font-family: @font-family-custom-panel;
}

.datepicker:before {
    visibility: hidden;
}

.modal {
    .modal-header {
        background-color: @gray;
        color: #FFF;

        .close {
            color: #FFF;
        }
    }
    .modal-footer {
        background-color: @gray-lighter;
    }
}

.change-password-panel {
    width: 40%;
    
    .center-block();
}

hr {
    border-color: @gray;
}

.value-column {
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: @gray-lighter;

    &-income {
        border-right-color: @income;
    }

    &-outgo {
        border-right-color: @outgo;
    }
}

#transaction-list-panel .transaction-table .action-bar > i.delete-transaction {
    color: @brand-danger;
}

.bootstrap-select {
    width: 100% !important;
    margin-bottom: 0 !important;

    .btn.dropdown-toggle {
        height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
        font-size: @font-size-base !important;
        line-height: @line-height-base !important;
        color: @input-color !important;
        background-color: @input-bg !important;
        .box-shadow(inset 0 1px 1px rgba(0,0,0,.075)) !important;
        .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s") !important;
        text-transform: none;

        // Customize the `:focus` state to imitate native WebKit styles.
        .form-control-focus() !important;
        font-family: @font-family-sans-serif;
    }

    .filter-option {
        font-weight: normal;
        margin-left: 20px !important;
    }
}
