// Components
// -------------------------
@border-radius-base:             0px;
@border-radius-large:            0px;
@border-radius-small:            0px;


// Colors
// -------------------------

// color used on charts and balance panels
@positive:                  #049cdb;
@negative:                  #9d261d;
@income:                    #46a546;
@outgo:                     @negative;
