@bodyBackground:        #f5f5f5;
@heroUnitBackground:    #fff;
@heroUnitBorder:        #ccc;
@wellBackground:        #fff;
@baseFontSize:          12px;
@baseBorderRadius:      1px;
@borderRadiusLarge:     1px;
@borderRadiusSmall:     1px;

@panelBorder: #ccc;
