<form class="form" name="entry-form" action="{% url "new_entry" %}" method="post">{% csrf_token %}

    <div class="control-group {% if entry_form.category.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon-tag"></i></span>
                <input
                    id="id_category"
                    maxlength="200"
                    name="category"
                    type="text"
                    placeholder="Category"
                    autocomplete="off"
                    value="{{ entry_form.category.value|default_if_none:"" }}"

                    autofocus/>
            </div>

            {% for error in entry_form.category.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="control-group {% if entry_form.value.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on">$</span>
                <input
                    id="id_value"
                    name="value"
                    type="text"
                    placeholder="Value"
                    autocomplete="off"
                    value="{{ entry_form.value.value|default_if_none:"" }}"
                    />
            </div>

            {% for error in entry_form.value.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="control-group {% if entry_form.date.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon-calendar"></i></span>
                <input
                    id="id_date"
                    class="datepicker"
                    name="date"
                    type="text"
                    autocomplete="off"
                    placeholder="Date"
                    {% if entry_form.date.value %}
                    value="{{ entry_form.date.value }}"
                    {% else %}
                    value="{% now "SHORT_DATE_FORMAT" %}"
                    {% endif %}
                    />
            </div>

            {% for error in entry_form.date.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="control-group {% if entry_form.description.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon-pencil"></i></span>
                <input
                    id="id_description"
                    maxlength="200"
                    name="description"
                    type="text"
                    autocomplete="off"
                    placeholder="Description (Optional)"
                    value="{{ entry_form.description.value|default_if_none:"" }}"/>
            </div>

            {% for error in entry_form.description.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <input type="submit" value="Submit"/>
</form>
