{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

</style>
{% endblock extrahead %}

{% block body %}
    
<div class="container">

    <form class="form-signin" method="POST" action="{% url "login" %}">{% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <h2 class="form-signin-heading">Please sign in</h2>

        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{error}}
            </div>
        {% endfor %}

        {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <div class="controls">
                    <input
                        type="{{ field.field.widget.input_type }}"
                        name="{{ field.name }}"
                        class="input-block-level"
                        placeholder="{{ field.label }}"
                        {% if field.name not in empty_value_fields %}
                            value={{ field.value|default_if_none:"" }}
                        {% endif %}
                        >

                </div>

                {% if field.errors %}
                <ul>
                {% for error in field.errors %}
                    <li><span class="help-block error">{{ error }}</span></li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Login</button>

        <p>Not a user yet? <a href="{% url "register" %}">Sign up here!</a></p>
    </form>

</div> <!-- container -->
{% endblock body %}
