{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load expenses_tags %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="span3" data-spy="affix">

            {% include "expenses/forms/entry.html" %}
        </div>

        <div class="span6 offset3">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="squared-well">
                <table class="table">
                {% for entry in entries %}
                    {% ifchanged entry.date.year entry.date.month %}
                        {% if not forloop.first %}
                            </tbody>
                        {% endif %}
                        <thead><tr>
                            <th colspan="5">{{ entry.date|date:"F Y"}}</th>
                        </tr></thead>
                        <tbody>
                    {% endifchanged %}
                        <tr class="entry-row"
                            data-date="{{ entry.date|date:"SHORT_DATE_FORMAT" }}"
                            data-category="{{ entry.category }}"
                            data-value="{{ entry.value }}"
                            data-description="{{ entry.description }}"
                            data-id="{{ entry.id }}">

                            <td class="span1" text-align="center">{{ entry.date|date:"d" }}</td>
                            <td class="span2">{{ entry.category|as_category }}</td>
                            <td >{{ entry.description|truncatechars:30}}</td>
                            <td class="span2"><strong>{{ entry.value|as_value:currency_symbol }}</strong></td>

                            <td class="span1 action-bar">
                                <i class="icon-trash delete-entry"></i>
                            </td>
                        </tr>
                    {% if forloop.last %}
                        </tbody>
                    {% endif %}
                {% endfor %}
                </table> 
            </div>
        </div>
        <div class="span3 offset9" data-spy="affix">
            <div class="side-panel">
                Seu balanço mensal: pobrão
            </div>
        </div>
    </div> <!-- container -->
</div> <!-- row -->

{% endblock body %}

{% block bodyend %}
    <script type="text/javascript" src="{% static "js/entry-list.js" %}"></script>
{% endblock bodyend %}
