<form id="signup-form" method="POST" action="{% url "login" %}">{% csrf_token %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h2>Please sign in</h2>

    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{error}}
        </div>
    {% endfor %}

    <div class="control-group {% if form.username.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input
                    type="text"
                    name="username"
                    placeholder="Email"
                    value="{{ form.username.value|default_if_none:"" }}"
                >
            </div>

            {% for error in form.username.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="control-group {% if form.password.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon-asterisk"></i></span>
                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                >
            </div>

            {% for error in form.password.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <input type="submit" value="Login">

    <hr>

    <p><a href="{% url "password_reset_recover" %}">Forgot your password?</a></p>
    <p>Not a user yet? <a href="{% url "register" %}">Sign up here!</a></p>
</form>
