<form name="fast-login" class="navbar-form form-inline pull-right" action="{% url "login" %}" method="POST">{% csrf_token %}
    <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <input type="text" class="input-medium" name="username" placeholder="Email">
    </div>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-asterisk"></i></span>
    <input type="password" class="input-medium" name="password" placeholder="Password">
    </div>
    <input type="submit" value="Login">
</form>
