{% load i18n %}

<form id="register-form" method="POST" action="{% url "register" %}">{% csrf_token %}
    <h2>{% trans "Sign up" %}</h2>
    
    <div class="control-group {% if register_form.name.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon-user"></i></span>
                <input
                    type="text"
                    name="name"
                    placeholder="{% trans "Name" %}"
                    value="{{ register_form.name.value|default_if_none:"" }}"
                >
            </div>

            {% for error in register_form.name.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>

    </div>

    <div class="control-group {% if register_form.email.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input
                    type="text"
                    name="email"
                    placeholder="{% trans "Email" %}"
                    value="{{ register_form.email.value|default_if_none:"" }}"
                >
            </div>

            {% for error in register_form.email.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="control-group {% if register_form.password1.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon-asterisk"></i></span>
                <input
                    type="password"
                    name="password1"
                    placeholder="{% trans "Password" %}"
                >
            </div>

            {% for error in register_form.password1.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="control-group {% if register_form.password2.errors %}error{% endif %}">
        <div class="controls">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon-asterisk"></i></span>
                <input
                    type="password"
                    name="password2"
                    placeholder="{% trans "Confirm password" %}"
                >
            </div>

            {% for error in register_form.password2.errors %}
                <span class="help-block error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <input type="submit" value="{% trans "Sign up" %}">

    <hr>

    <p>{% trans "Already a user?" %} <a href="{% url "login" %}">{% trans "Sign in" %}</a></p>
</form>
