{% extends "base.html" %}

{% load i18n %}

{% block body %}
    
<h2 class="area-header">{% trans "Please sign in" %}</h2>

<div class="panel panel-default center-panel access-form-panel">
    <div class="panel-body">
        <form id="signin-form" method="POST" action="{% url "login" %}" class="form-horizontal access-form">{% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}


            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{error}}
                </div>
            {% endfor %}

            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                <label class="control-label" for="username">{% trans "Email" %}</label>
                <div class="input-icon">
                    <i class="fa fa-envelope input-icon-prepend"></i>
                    <input
                        type="email"
                        name="username"
                        id="username"
                        class="form-control"
                        value="{{ form.username.value|default_if_none:"" }}"
                    >
                    {% for error in form.username.errors %}
                        <span class="help-block error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                <label class="control-label" for="password">{% trans "Password" %}</label>
                <div class="input-icon">
                    <i class="fa fa-asterisk input-icon-prepend"></i>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control"
                        value="{{ form.email.value|default_if_none:"" }}"
                    >
                    {% for error in form.password.errors %}
                        <span class="help-block error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <div class="actions">
                    <button class="btn btn-primary" type="submit">
                        {% trans "Login" %}
                        <i class="fa fa-check fa-lg"></i>
                    </button>
                </div>
            </div>
        </form>

        <hr>

        <div class="links">
            <p><a href="{% url "password_reset_recover" %}">{% trans "Forgot your password?" %}</a></p>
            <p>{% trans "Not a user yet?" %} <a href="{% url "register" %}">{% trans "Sign up here!" %}</a></p>
        </div>
    </div> 
</div> 

{% endblock body %}
