{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="hero-unit">
        {% include "forms/entry.html" with form=entry_form %}
    </div>

    {% regroup entries by date.month as monthly_entries %}

    {% for month_group in monthly_entries %}
        {% regroup month_group.list by date.day as daily_entries %}
        <h3>Mes {{ month_group.grouper }}</h3>
        <table class="table">
            {% for day_group in daily_entries %}
                <thead><tr class="info">
                    <th colspan="2">Dia {{ day_group.grouper }}</th>
                </tr></thead>
                <tbody>
                {% for entry in day_group.list %}
                    <tr>
                        <td>{{ entry.category }}</td>
                        <td>$ {{ entry.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endfor %}
        </table> 
    {% endfor %}

</div> <!-- container -->

{% endblock body %}
