{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="hero-unit">
        {% include "forms/entry.html" with form=entry_form %}
    </div>

    <table class="table">
        <thead><tr>
            <th>Category</th>
            <th>Value</th>
        </tr></thead>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.category }}</td>
                <td>{{ entry.value }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}
