{% extends "base.html" %}

{% block body %}

{% load humanize %}

<div class="container">
    <div class="hero-unit">
        {% include "forms/entry.html" with form=entry_form %}
    </div>

    <table class="table">
    {% for entry in entries %}
        {% ifchanged entry.date.year entry.date.month %}
            {% if not forloop.first %}
                </tbody>
            {% endif %}
            <thead><tr>
                <th colspan="3">Ano {{ entry.date.year }} | Mes {{ entry.date.month }}</th>
            </tr></thead>
            <tbody>
        {% endifchanged %}
            <tr>
                <td>{{ entry.date|naturalday }}</td>
                <td>{{ entry.category }}</td>
                <td>$ {{ entry.value }}</td>
            </tr>
        {% if forloop.last %}
            </tbody>
        {% endif %}
    {% endfor %}
    </table> 

</div> <!-- container -->

{% endblock body %}
