{% load staticfiles %}

{% spaceless %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ SITE_NAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/datepicker.css" %}" rel="stylesheet" media="screen">
        <script src="{% static "js/jquery.js" %}"></script>

        <style type="text/css">
            body {
                padding-top: 60px;
            }
        </style>

        {% block extrahead %}{% endblock extrahead %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container container-fluid">
                    <a class="brand" href="{% url "index" %}">{{ SITE_NAME }}</a>
                    <div class="nav-collapse collapse">
                        {% if user.is_authenticated %}
                            <p class="navbar-text pull-right">
                                {{ user.email }} (<a href="{% url "logout" %}" class="navbar-link">Logout</a>)
                            {% if user.is_admin %}
                               (<a href="{% url "admin:index" %}" class="navbar-link">Painel de admininstração</a>)
                            {% endif %}
                            </p>
                        {% else %}
                            <form name="fast-login" class="navbar-form pull-right" action="{% url "login" %}" method="POST">{% csrf_token %}
                                <input type="text" class="span2" name="email" placeholder="Email">
                                <input class="span2" type="password" placeholder="Password">
                                <button type="submit" class="btn">Sign in</button>
                            </form>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>


        {% block body %}{% endblock body %}

        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-datepicker.js" %}"></script>

        {% block bodyend %}{% endblock bodyend %}
    </body>
</html>

{% endspaceless %}
