{% load template_additions %}
{% smart_spaceless %}

{% load staticfiles %}
{% load i18n %}
{% load expenses_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ SITE_NAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />

        <script type="text/javascript">
            user_categories = {{ user_categories|to_json }};
        </script>

        {% if debug %}
        <script src="{% static "js/lib/jquery-1.10.2.js" %}"></script>
        <script src="{% static "js/lib/bootstrap.js" %}"></script>
        {% else %}
        <script src="{% static "js/script.min.js" %}"></script>
        {% endif %}
        <script src="{% url "django.views.i18n.javascript_catalog" %}" type="text/javascript"></script>

        {% block extrahead %}{% endblock extrahead %}
    </head>
    <body ng-app="webapp" id="ng-app">

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url "index" %}">{{ SITE_NAME }}</a>
            </div>

            {% block webapp-menu %}
            {% endblock webapp-menu %}

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Contact us" %} <i class="icon-comments-alt icon-large"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://www.facebook.com/niqels" class="navbar-link" target="_blank"><i class="icon-facebook-sign icon-large"></i> {% trans "Like us on Facebook" %}</a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/niqelsapp" class="navbar-link" target="_blank"><i class="icon-twitter-sign icon-large"></i> {% trans "Follow us on Twitter" %}</a>
                                </li>
                                <li>
                                    <a href="mailto:contato@niqels.com.br" class="navbar-link" target="_blank"><i class="icon-envelope-alt icon-large"></i> {% trans "Email us" %}</a>
                                </li>
                            </ul>
                        </li>
                        {% include "user-menu.html" %}
                    {% else %}
                        {% include "access/forms/login_inline.html" %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

        {% block body %}{% endblock body %}

        {% block bodyend %}{% endblock bodyend %}
        {% csrf_token %}
    </body>
</html>

{% end_smart_spaceless %}
