{% load template_additions %}
{% smart_spaceless %}

{% load staticfiles %}
{% load expenses_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ SITE_NAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />

        <script type="text/javascript">
            user_categories = {{ user_categories|to_json }};
        </script>

        {% if debug %}
        <script src="{% static "js/lib/jquery-1.10.2.js" %}"></script>
        <script src="{% static "js/lib/bootstrap.js" %}"></script>
        {% else %}
        <script src="{% static "js/script.min.js" %}"></script>
        {% endif %}
        <script src="{% url "django.views.i18n.javascript_catalog" %}" type="text/javascript"></script>

        {% block extrahead %}{% endblock extrahead %}
    </head>
    <body>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url "index" %}">{{ SITE_NAME }}</a>
            </div>

            <div class="collapse navbar-collapse">
                <div class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <p class="navbar-text">
                            Olá, {{ user.name|capfirst }} (<a href="{% url "change_password" %}" class="navbar-link">Change password</a>) (<a href="{% url "logout" %}" class="navbar-link">Logout</a>)
                    </p>
                    {% else %}
                        {% include "access/forms/login_inline.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% comment %}
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endcomment %}

        {% block body %}{% endblock body %}

        {% block bodyend %}{% endblock bodyend %}
        {% csrf_token %}
    </body>
</html>

{% end_smart_spaceless %}
