{% load template_additions %}
{% smart_spaceless %}

{% load staticfiles %}
{% load i18n %}
{% load expenses_tags %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ SITE_NAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:900' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />

        <script type="text/javascript">
            user_categories = {{ user_categories|to_json }};
        </script>

        {% if is_debug %}
        <script src="{% static "js/lib/jquery-1.10.2.js" %}"></script>
        <script src="{% static "js/lib/bootstrap.js" %}"></script>
        {% else %}
        <script src="{% static "js/script.min.js" %}"></script>
        {% endif %}
        <script src="{% url "django.views.i18n.javascript_catalog" %}" type="text/javascript"></script>

        {% block extrahead %}{% endblock extrahead %}
    </head>
    <body ng-app="webapp" id="ng-app">

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "index" %}">
                    <img src="{% static "img/logo-squared.png" %}" class="img-squared brand-logo">
                    {{ SITE_NAME }}
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                {% block webapp-menu %}
                {% endblock webapp-menu %}
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{% trans "Contact us" %} <i class="icon-comments-alt icon-large"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://www.facebook.com/niqels" class="navbar-link" target="_blank"><i class="icon-facebook-sign icon-large"></i> {% trans "Like us on Facebook" %}</a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/niqelsapp" class="navbar-link" target="_blank"><i class="icon-twitter-sign icon-large"></i> {% trans "Follow us on Twitter" %}</a>
                                </li>
                                <li>
                                    <a href="mailto:contato@niqels.com.br" class="navbar-link" target="_blank"><i class="icon-envelope-alt icon-large"></i> {% trans "Email us" %}</a>
                                </li>
                            </ul>
                        </li>
                        {% include "user-menu.html" %}
                    </ul>
                    {% else %}
                        {% include "access/forms/login_inline.html" %}
                    {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        {% block body %}{% endblock body %}
    </div>

        {% block bodyend %}{% endblock bodyend %}
        
        {% include "ga.html" %}

        {% csrf_token %}
    </body>
</html>

{% end_smart_spaceless %}
