{% load i18n %}
{% load static %}

{% get_static_prefix as static %}
<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ static }}ico/favicon.ico" %}">
    
        <title>Niqels</title>
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/landing.css?rel=1393293114327" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/static/landing/js/html5shiv.js"></script>
          <script src="/static/landing/js/respond.min.js"></script>
        <![endif]-->
    
      <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
      <![endif]-->

    </head>
    <body>
        <div class="navbar navbar-default" role="navigation" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="" href="#"><img src="{{static}}img/niqels-rgb.png" id="logo"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-links">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                </div> <!-- .navbar-header -->

                <div class="collapse navbar-collapse" id="navbar-links">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url "guide:index" %}">{% trans "Guia" %}</a></li>
                        <li><a href="{% url "plans:index" %}">{% trans "Planos" %}</a></li>
                        <li><a href="{% url "contact" %}">{% trans "Contato" %}</a></li>
                        <li><a href="{% url "login" %}" class="important">{% trans "Login" %}</a></li>
                        <li><a class="register-link important" href="{% url "register" %}">{% trans "Create account" %}</a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- .navbar.navbar-default -->
           
        <div id="main" class="well">
            <div id="title">
                <h1>Software para controle financeiro. <span>Online e Grátis.</span></h1>
                <p class="lead lead-custom">
                    Acompanhe suas despesas online, com relatórios simplificados no seu computador, tablet ou celular.
                </p>
            </div>
            <div class="panel-group container" id="features">

                <div class="row">
                    <a id="register-button" class="btn btn-lg btn-warning btn-custom" href="{% url "register" %}">Experimente agora</a>
                </div>

                <div class="row">
                    <div class="panel-wrapper">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <img class="img-circle img-thumbnail img-responsive" src="{{ static }}img/thumbnails/categories.png" %}">

                                <h4 class="panel-title">
                                    Fácil de usar
                                </h4>
                            </div><!-- .panel-heading -->

                            <div class="panel-body">
                                Controle suas finanças com facilidade. Levam apenas alguns segundos para cadastrar suas movimentações.
                            </div><!-- .panel-body -->
                        </div><!-- .panel.panel-default -->
                    </div>

                    <div class="panel-wrapper">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <img class="img-circle img-thumbnail img-responsive" src="{{ static }}img/thumbnails/balance.png" %}">

                                <h4 class="panel-title">
                                    Veja seu histórico
                                </h4>
                            </div><!-- .panel-heading -->

                            <div class="panel-body">
                                Compare sua situação financeira atual com o passado, saiba quando é hora de economizar.
                            </div><!-- .panel-body -->
                        </div><!-- .panel.panel-default -->
                    </div>

                    <div class="row-break sm"></div>

                    <div class="panel-wrapper">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <img class="img-circle img-thumbnail img-responsive" src="{{ static }}img/thumbnails/android-logo.png" %}">
                                <h4 class="panel-title">
                                    Use nosso aplicativo Android
                                </h4>
                            </div><!-- .panel-heading -->

                            <div class="panel-body">
                                Use nosso sistema com uma interface voltada para mobiles com nosso aplicativo Android disponível no market:
                                <a class="highlight" href="https://play.google.com/store/apps/details?id=br.com.niqels">Niqels App</a>
                            </div><!-- .panel-body -->
                        </div><!-- .panel.panel-default -->
                    </div>

                    <div class="row-break md lg"></div>

                    <div class="panel-wrapper col-md-offset-2">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <img class="img-circle img-thumbnail img-responsive" src="{{ static }}img/thumbnails/compare.png" %}">
                                <h4 class="panel-title">
                                    Controle suas finanças
                                </h4>
                            </div><!-- .panel-heading -->

                            <div class="panel-body">
                                Nós fornecemos relatórios para dar uma visão geral de suas finanças, ajudando a entender onde você gasta mais, e onde economizar.
                            </div><!-- .panel-body -->

                        </div><!-- .panel.panel-default -->
                    </div>

                    <div class="panel-wrapper">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <img class="img-circle img-thumbnail img-responsive" src="{{ static }}img/logo-squared.png" %}">

                                <h4 class="panel-title">
                                    Crie sua conta - é gratis!
                                </h4>
                            </div><!-- .panel-heading -->

                            <div class="panel-body">
                                O cadastro leva apenas alguns instantes. Crie sua conta gratuitamente e começe a usar!
                                <a class="register-link highlight" href="{% url "register" %}">Clique aqui para criar sua conta</a>
                            </div><!-- .panel-body -->
                        </div><!-- .panel.panel-default -->
                    </div>


                </div> <!-- row -->

            </div> <!-- .panel-group-->
        </div> <!-- .well -->

        <div class="container container-custom col-xs-12 col-md-12 col-md-12 col-lg-12">
            <div class="marketing col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-and-img-all col-sm-12 col-md-12 col-md-pull-1 col-lg-12">
                    <div class="panel-and-img col-xs-12 col-sm-7 col-md-7 col-lg-6 text-left">
                        <h2>Organize seus gastos</h2>
                        <p>Nós ajudamos você a ter a disciplina necessária para organizar suas finanças de um jeito rápido 
                        e fácil. Sem cadastros complicados, sem burocracias, sem dificuldades. Você não vai esquecer de cadastrar aquelas
                        compras no meio da tarde, que fazem seu dinheiro sumir no fim do mês.</p>
                    </div> <!-- .panel-and-img -->
                    <div class="img-ilustra-01 pull-right col-sm-5 col-md-5 col-md-push-1 col-lg-5 hidden-xs">
                        <img class="img-responsive" src="{{ static }}img/01.png" %}" />
                    </div> <!-- .pull-right -->
                </div> <!-- .panel-and-img-all -->
            </div> <!-- .marketing -->

            <hr>

            <div class="marketing col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-and-img-all col-sm-12 col-md-12 col-queixo-12 col-md-pull-1 col-lg-12">
                    <div class="panel-and-img texto-inferior-acompanhe col-xs-12 col-sm-7 col-md-7 col-md-offset-1 col-lg-6 text-right pull-right">
                        <h2>Acompanhe sua evolução</h2>
                        <p>Nós o ajudaremos a atingir suas metas de economia. 
                        Para comprar sua casa, seu carro, planejar suas próximas férias ou até sua aposentadora, acompanharemos seu 
                        perfil de consumo para você realizar seus sonhos. Você saberá exatamente onde poupar para alcançar seus
                        objetivos.</p>
                    </div>  <!-- .panel-and-img -->
                    <div class="img-ilustra col-sm-5 col-md-5 col-lg-6 hidden-xs">
                        <img class="img-responsive" src="{{ static }}img/02.png" %}" />
                    </div> <!-- .pull-right -->
                </div>  <!-- .panel-and-img-all -->
            </div>  <!-- .marketing -->
    
        </div>  <!-- .container.container-bg-custom -->

        <div class="footer">
           <h5 class="text-center">&copy; 2013 Niqels. Todos os direitos reservados.
           Site desenvolvido por <a href="http://www.camaleaocriativo.com.br" title="Camaleão Criativo" target="_blank">Camaleão Criativo</a>
           </h5>
        </div>
        
        {% if is_debug %}
        <script src="{{ static }}js/lib/jquery-1.10.2.js" %}"></script>
        <script src="{{ static }}js/lib/bootstrap.js" %}"></script>
        {% else %}
        <script src="{{ static }}js/script.min.js" %}"></script>
        {% endif %}
        <script src="{% url "django.views.i18n.javascript_catalog" %}" type="text/javascript"></script>

        {% if USE_GA %}
            {% include "ga.html" %}
        {% endif %}
    </body>
</html>
