{% extends "base.html" %}

{% load i18n %}
{% load webdesign %} 

{% block extrahead %}
{% endblock extrahead %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container container-fluid">
                <a class="brand" href="{% url "index" %}">{{ SITE_NAME }}</a>
                {% include "access/forms/login_inline.html" %}
            </div>
        </div>
    </div>
{% endblock navbar %}

{% block body %}
    <section>
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="hero-unit presentation-block">
                    <h2>{% trans "Organize your money the easy way!" %}</h2>
                    <p>{% lorem %}</p>
                </div>
            </div>
            <div class="span4">
                <div id="signup-area">
                {% include "access/forms/register.html" %}
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock body %}


{% block bodyend %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-43865613-1', 'niqels.com.br');
ga('send', 'pageview');

</script>

{% endblock bodyend %}
