@import "../lib/bootstrap/bootstrap.less";
@import "../lib/typeahead.less";
@import (less) "../lib/datepicker.css";
@import "../datepicker-override.less";
@import "../toastr-override.less";

@import "../variables.less";
@import "category-list.less";
@import "settings.less";
@import "balance.less";
@import "charts.less";
@import "../forms.less";
@import "transaction-list.less";
@import "../components/option-panel.less";
@import "reports.less";

html, body, .container, .row {
    height: 100%;
}

body {
    overflow-y: scroll;
    background-color: @component-bg-color;
}

.navbar {
    background-color: @white;
    margin-bottom: 0;

    .container {
        padding: 0;
    }

    .navbar-header {
        .make-sm-column(4);
        .make-md-column(3);
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        
        img {
            max-height: @navbar-height;
        }
    }

    .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-nav {
        li {
            a:hover {
                text-decoration: underline;
            }

            &.active {
                a {
                    color: inherit;
                    background-color: inherit;

                    box-shadow: inset 0px -5px 0px @navbar-default-link-active-bg;

                    @media (max-width: @screen-xs-max) {
                        box-shadow: inset 5px 0px 0px @navbar-default-link-active-bg;
                        
                    }

                    &:hover {
                        text-decoration: none;
                        background-color: inherit;
                        color: inherit;
                    }
                }
            }
            &.dropdown {
                a.dropdown-toggle {
                    cursor: pointer;
                }
            }
        }
    }
}


.left-column, .content-column{
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-column {
    .make-sm-column(4);
    .make-md-column(3);
}

.content-column {
    .make-sm-column(8);
    .make-md-column(9);

    min-height: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: @white;

    .content-main {
        .make-sm-column(12);
        .make-md-column(8);
        height: 100%;
        padding-left: 0;
    }

    .content-right-column {
        .make-sm-column(12);
        .make-md-column(4);
        padding-right: 0;
    }
}

.btn {
    font-family: @font-family-custom-panel;
    text-transform: uppercase;

    &-link {
        box-shadow: none !important;
    }
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*
 * /GLOBAL STYLES
 */

.area-header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


.center-panel {
    .make-lg-column(4);
    .make-lg-column-offset(4);

    .make-md-column(6);
    .make-md-column-offset(3);

    .make-sm-column(6);
    .make-sm-column-offset(3);

    background-color: @white;
    border-style: solid;
    box-shadow: 0 0 3px #ccc;
}

hr {
    border-color: @gray;
}
