@import (less) "http://fonts.googleapis.com/css?family=Oxygen:400,300";
@import (less) "http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300";
@import (less) "http://fonts.googleapis.com/css?family=Roboto:900";

@import "../lib/bootstrap/bootstrap.less";
@import "../lib/datepicker3.less";
@import "../lib/bootstrap-tour.less";
@import "../datepicker-override.less";
@import "../toastr-override.less";
@import "../bootstrap-tour-override.less";

@import "../variables.less";
@import "category-list.less";
@import "settings.less";
@import "balance.less";
@import "charts.less";
@import "../forms.less";
@import "transaction-list.less";
@import "reports.less";
@import "plans.less";
@import "guide.less";

@import "../components/option-panel.less";
@import "../components/hashtags.less";


html, body, .container, .row {
    height: 100%;
}

#ng-app > .container {
    height: calc(~"100% - "(@navbar-height + 1px));
}

body {
    overflow-y: scroll;
    background-color: @component-bg-color;
}

.list-group {
    .list-group-item {
        &.active {
            color: inherit;
            background-color: inherit;
            border: 1px solid #ccc;
            box-shadow: inset 5px 0px 0px @navbar-default-link-active-bg;
        }
    }
}

.navbar {
    background-color: @white;
    margin-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    .container {
        padding: 0;
    }

    .navbar-header {
        .make-sm-column(4);
        .make-md-column(3);
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        
        img {
            max-height: @navbar-height;
        }
    }

    .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-nav {
        li {
            a:hover {
                text-decoration: underline;
            }

            &.active {
                a {
                    color: inherit;
                    background-color: inherit;

                    box-shadow: inset 0px -5px 0px @navbar-default-link-active-bg;

                    @media (max-width: @screen-xs-max) {
                        box-shadow: inset 5px 0px 0px @navbar-default-link-active-bg;
                    }

                    &:hover {
                        text-decoration: none;
                        background-color: inherit;
                        color: inherit;
                    }
                }
            }
            &.dropdown {
                a.dropdown-toggle {
                    cursor: pointer;
                }
            }
        }
    }
}


.left-column, .content-column{
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-column {
    .make-sm-column(4);
    .make-md-column(3);
}

.content-column {
    .make-sm-column(8);
    .make-md-column(9);

    min-height: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: @white;

    .content-main {
        .make-sm-column(12);
        .make-md-column(8);
        height: 100%;
        padding-left: 0;
    }

    .content-right-column {
        .make-sm-column(12);
        .make-md-column(4);
        padding-right: 0;
    }
}

.btn {
    font-family: @font-family-custom-panel;
    text-transform: uppercase;

    &-link {
        box-shadow: none !important;
    }
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*
 * /GLOBAL STYLES
 */

.area-header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.center-panel {
    .make-lg-column(4);
    .make-lg-column-offset(4);

    .make-md-column(6);
    .make-md-column-offset(3);

    .make-sm-column(6);
    .make-sm-column-offset(3);
}

.center-panel-large {
    .make-lg-column(8);
    .make-lg-column-offset(2);

    .make-md-column(8);
    .make-md-column-offset(2);

    .make-sm-column(10);
    .make-sm-column-offset(1);
}

.center-panel, .center-panel-large {
    background-color: @white;
    border-style: solid;
    box-shadow: 0 0 3px #ccc;
}

hr {
    border-color: @gray;
}

.modal-backdrop.animation-fade {
    opacity: .5;
    transition: opacity .15s linear;

    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: .5;
        }
    }
    &.ng-leave {
        opacity: .5;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

img.img404, img.img500 {
    height: 400px;
    width: 400px;

    .center-block();
}

// making django work with bs classes
.alert-error {
    .alert-danger();
}