/*
 * transaction-list.less
 * styles for the transaction list.
 */

@import '../variables.less';

thead tr th {
    font-style: italic;
    font-weight: normal;
}

#transaction-list-options {
    .option {
        li {
            vertical-align: middle;
        }
        .toggle-selector {
            a {
                padding-right: 5px;

                padding-left: 5px;
                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            .active {
                text-shadow: none;
                -webkit-box-shadow: none;
                font-weight: bold;
                text-decoration: underline;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#transaction-list-panel {
    .transaction-group {
        .panel-heading .panel-title .group-total {
            font-family: @font-family-sans-serif;

            &.renevue {
                color: @renevues;
            }

            &.expense {
                color: @expenses;
            }
        }

        .panel-body {
            background-color: @body-bg;

            table {
                thead {
                    .category-column-header, .date-column-header, .value-column-header, .action-bar-header {
                        width: 1%;
                    }
                    .value-column-header {
                        text-align: right;
                    }
                }
                .transaction-row {
                    .value-column {
                        text-align: right;
                        white-space: nowrap;

                        &.renevue {
                            background-color: lighten(@renevues, 45%);
                        }

                        &.expense {
                            background-color: lighten(@expenses, 55%);
                        }
                    }

                    .action-bar .delete-transaction:hover {
                        color: @brand-danger;
                    }
                }
            }
        }
    }
}

.month-selector {
    margin-bottom: 20px;
    text-align: center;

    .btn {
        margin-left: 5px !important;
        margin-right: 5px !important;
        border: 0;
        box-shadow: 1px 1px 1px #ccc;
        height: 100%;
        i {
            line-height: initial;
        }
    }

    .previous-month {
    }

    .next-month {
    }

    .actual-month {
    }
}

.loading-spinner {
    width: 100%;
    text-align: center;
}

#empty-msg {
    text-align: center;
}

#transaction-list-panel .transaction-table .action-bar > i.delete-transaction {
    color: @brand-danger;
}

