/*
 * transaction-list.less
 * styles for the transaction list.
 */

thead tr th {
    font-style: italic;
    font-weight: normal;
}

a[data-toggle="collapse"] {
    cursor: pointer;
}

.content-column-middle {
    background-color: @white;
}

#transaction-list-panel {
    .transaction-group {
        background-color: transparent;
        box-shadow: none;
        border: 0;
        margin-bottom: 25px;

        .panel-heading {
            padding-left: 25px;
            background-color: transparent;
            border-bottom: 1px solid #ccc;
            box-shadow: 0px 5px 2px -4px #ccc;
            cursor: pointer;

            .panel-title {
                .group-total {
                    font-family: @font-family-sans-serif;

                    &.renevue {
                        color: @renevues;
                    }

                    &.expense {
                        color: @expenses;
                    }
                }
            }
        }

        .panel-body {
            background-color: transparent;
            padding: 0;

            table.transaction-table {
                border-left: 1px solid @table-border-color;

                td.action-bar {
                    border-left: 1px solid @table-border-color !important;
                    border-bottom: 0px !important;
                    background-color: transparent;
                }
            }

            tr.transaction-row {
                &:last-child td {
                    border-bottom: 1px solid @table-border-color;
                }
            }
        }
    }
}

table.transaction-table {
    border: 0;
    width: initial;
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 0;

    thead {
        td {
            padding-top: 30px;
        }
        .category-column-header, .date-column-header, .value-column-header, .action-bar-header, .installment-data-column-header {
            width: 1%;
        }
        .value-column-header {
            text-align: right;
        }
        .action-bar-header {
            background-color: transparent;
            border-left: 1px solid @table-border-color;
        }
    }

    tr.transaction-row {
        cursor: pointer;

        td {
            border: 0;

            &.date-column, .category-column {
                font-weight: bold;
            }

            &.value-column {
                text-align: right;
                white-space: nowrap;

                &.renevue {
                    background-color: lighten(@renevues, 45%);
                }

                &.expense {
                    background-color: lighten(@expenses, 55%);
                }
            }

            &.installment-data-column {
                text-align: right;
                white-space: nowrap;
            }

            &.action-bar {

                i {
                    cursor: pointer;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.3s;
                }

                .delete-transaction:hover {
                    color: @brand-danger;
                }
            }
        }

        &:hover td.action-bar > * {
            visibility: visible;
            transition: opacity 0.3s;
            opacity: 1;
        }
    }
}


.month-selector {
    text-align: center;

    button.btn {
        margin-left: 5px !important;
        margin-right: 5px !important;
        box-shadow: 1px 1px 1px #ccc;
    }

    a {
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.loading-spinner {
    width: 100%;
    text-align: center;
}

#empty-msg {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.threshold-indicator {
    width: 20px; height: 20px;
    margin-left: 10px;
    display: inline-block;
}

@total: 10;

.loopingClassThreshold (@index) when (@index > 0) {

    .threshold-indicator-@{index} {
            background-image: url('/static/img/sprites/foo.png');
            background-position: 0 -(@index * 20px);
            background-repeat: no-repeat;
    }

    // next iteration
    .loopingClassThreshold(@index - 1);
}

.loopingClassThreshold (0) {}
.loopingClassThreshold (@total);