@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

// Global styles
body {
    padding-top: 60px;
}

// Entry list styles
.entry-row {
    td {
        font-size: 18px;

        i {
            padding-right: 2px;
            padding-left: 2px;
        }

        span.label {
            padding: 4px 6px;
            font-size: 15px;
            font-weight: normal;
        }
    }
}
