@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

// Globals

// Bootstrap overrides


// Global styles

body {
    padding-top: 60px;
}

.squared-well {
    .well();
    .border-radius(0);
}

// Entry list styles
.entry-row {
    td {
        font-size: 18px;

        &.action-bar i {
            padding-right: 2px;
            padding-left: 2px;
            //.icon-large();
            .pull-right();
        }

        span.label {
            padding: 4px 6px;
            font-size: 15px;
            font-weight: normal;
        }
    }
}

.entry-form-container {
    .squared-well();
}

.side-panel {
    .squared-well();
}


