{% load i18n %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#suggestion-form-panel-body">
                <i class="fa fa-bullhorn fa-fw"></i>
                {% trans "Dê-nos sua opinião!"%}
            </a>
        </h4>
    </div>

    <div id="suggestion-form-panel-body" class="panel-collapse collapse">
        <div class="panel-body" ng-controller="FeedbackFormCtrl">

            <form id="feedback-form"
                  method="POST"
                  class="feedback-form"
                  name="feedbackForm"
                  ng-submit="sendFeedback()"
                  ng-init="url='{% url "contact" %}'">
                {% csrf_token %}

                <input type="hidden" name="name" value="{{ user.name }}" ng-init="formData.name='{{ user.name }}'"/>
                <input type="hidden" name="email" value="{{ user.email }}" ng-init="formData.email='{{ user.email }}'"/>


                <div class="form-group">
                    <textarea
                        rows="10"
                        id="message"
                        name="message"
                        class="form-control"
                        placeholder="{% trans "Envie sua sugestão!" %}"
                        ng-model="formData.message"
                        required
                    ></textarea>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    {% trans "Enviar" %} <i class="fa fa-share"></i>
                </button>

            </form>
        </div>
    </div>
</div>