{% extends "base.html" %}

{% load staticfiles %}
{% load static %}
{% load humanize %}
{% load expenses_tags %}
{% load i18n %}

{% block extrahead %}

<link href="{% static "css/datepicker.css" %}" rel="stylesheet" media="screen">
<link href="{% static "css/spectrum.css" %}" rel="stylesheet" media="screen">

{% endblock extrahead %}


{% block webapp-menu %}
<ul class="nav navbar-nav">
    <li ng-class="{active: $state.includes('transactions')}"><a href="#/transactions">{% trans "Transactions" %}</a></li>
    <li ng-class="{active: $state.includes('settings')}"><a href="#/settings">{% trans "Settings" %}</a></li>
</ul>
{% endblock webapp-menu %}


{% block body %}

<div class="row" ui-view>
</div>

<script type="text/ng-template" id="transaction-list.html">
{% include "webapp/transaction-list.html" %}
</script>

<script type="text/ng-template" id="settings.html">
{% include "webapp/settings/settings.html" %}
</script>

{% endblock body %}



{% block bodyend %}

{% if is_debug %}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>

    {% get_static_prefix as static_path %}

    {% with app=static_path|add:"js/app/" controllers=static_path|add:"js/app/controllers/" lib=static_path|add:"js/lib/" locales=static_path|add:"js/locales/" %}

        <script src="{{lib}}angular-strap.js"></script>
        <script src="{{lib}}angular-ui-router.js"></script>
        <script src="{{lib}}highcharts.src.js"></script>
        <script src="{{lib}}bootstrap-datepicker.js"></script>
        <script src="{{lib}}jquery.maskMoney.js"></script>
        <script src="{{lib}}spectrum.js"></script>
        <script src="{{lib}}toastr.js"></script>
        <script src="{{lib}}bootstrap-typeahead.js"></script>
        <script src="{{lib}}min/moment.min.js"></script>

        <script src="{{locales}}angular-locale_pt-br.js"></script>
        <script src="{{locales}}bootstrap-datepicker.pt-BR.js"></script>
        <script src="{{locales}}pt-br.js"></script>

        <script src="{{app}}app.js"></script>
        <script src="{{controllers}}BalancePanelCtrl.js"></script>
        <script src="{{controllers}}BalancePanelCtrl.js"></script>
        <script src="{{controllers}}RemindersCtrl.js"></script>
        <script src="{{controllers}}TransactionActionBarCtrl.js"></script>
        <script src="{{controllers}}TransactionFormCtrl.js"></script>
        <script src="{{controllers}}TransactionListCtrl.js"></script>
        <script src="{{controllers}}CategoryListCtrl.js"></script>
        <script src="{{controllers}}CategoryEditCtrl.js"></script>
        <script src="{{controllers}}ReminderListCtrl.js"></script>

        <script src="{{app}}services.js"></script>
        <script src="{{app}}modules/charts.js"></script>
        <script src="{{app}}modules/models.js"></script>

        <script src="{{app}}directives.js"></script>

    {% endwith %}

{% else %}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>

    <script src="{% static "js/webapp.min.js" %}"></script>

{% endif %}

{% endblock bodyend %}
