{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load expenses_tags %}
{% load i18n %}

{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>
<script src="{% static "js/locales/angular-locale_pt-br.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/controllers.js" %}"></script>
<script src="{% static "js/services.js" %}"></script>
<script src="{% static "js/directives.js" %}"></script>
{% endblock extrahead %}

{% block body %}

<div class="container" ng-app="webapp" id="ng-app">
    <div class="row" ng-view>
    </div> <!-- container -->
</div> <!-- row -->

{% endblock body %}
