{% load i18n %}

<div class="panel-heading">{% trans "Balance" %}</div>

<div ng-controller="BalancePanelCtrl" class="panel-body">
    <div class="balance-info">
        <div class="income">
            <span class="description">
                {% trans "income" %}
            </span>
            <span class="value" ng-bind="income | currency">
            </span>
        </div>

        <div class="outgo">
            <span class="description">
                {% trans "outgo" %}
            </span>
            <span class="value" ng-bind="outgo | currency">
            </span>
        </div>


        <div class="total" ng-class="{true: 'positive', false: 'negative'}[(income + outgo) >= 0]">
            <span class="description">
                {% trans "total" %}
            </span>
            <span class="value" ng-bind="(income + outgo) | currency">
            </span>
        </div>
    </div>

    <h4 class="panel-title">{% trans "Average" %}</h4>

    <div value='chartData' type="area" height="300" chart></div>
</div>
