{% load i18n %}

<div 
    class="side-panel"

    ng-controller="BalancePanelCtrl"
    >

    <i
        id="balance-help"
        class="icon-question-sign close"

        data-placement="left"
        data-trigger="hover"
        data-content="{% trans 'Shows the sum of all your transactions up to the current day, and the comparison with the previous months.' %}"

        ></i>

    <h4 class="panel-title">{% trans "Balance" %}</h4>
    {% comment %} 
    <p>
        <span
            ex-currency
            ex-currency-value="balance_data.balance.base">
            </span>

        (<span
            ex-deviation
            ex-deviation-value="((balance_data.balance.deviation))"
            ></span>)
    </p>
    {% endcomment %} 

    <div class="balance-info">
        <div class="income">
            <span class="description">
                {% trans "income" %}
            </span>
            <span class="value" ng-bind="income | currency">
            </span>
        </div>

        <div class="outgo">
            <span class="description">
                {% trans "outgo" %}
            </span>
            <span class="value" ng-bind="outgo | currency">
            </span>
        </div>


        <div class="total" ng-class="{true: 'positive', false: 'negative'}[total >= 0]">
            <span class="description">
                {% trans "total" %}
            </span>
            <span class="value" ng-bind="(income + outgo) | currency">
            </span>
        </div>
    </div>

    <h4 class="panel-title">{% trans "Average" %}</h4>

    <chart value='chartData' type="area" height="300"></chart>
</div>
