{% load i18n %}

<div class="panel-heading">{% trans "New transaction" %}</div>
<div ng-controller="TransactionFormCtrl" class="panel-body">
<form
    class="form transaction-form"
    name="transactionForm"
    method="post"

    novalidate
    >


    <div class="form-group input-icon">
        <i class="icon-tag input-icon-prepend"></i>
        <input
            id="id_category"
            maxlength="200"
            name="category"
            type="text"
            class="form-control"

            ng-model="formData.category"
            ex-categoryfield

            {% comment %}
            bs-tooltip
            title="{% trans "Example: &quot;Groceries&quot;, &quot;Lunch&quot;" %}"
            data-placement="right"
            {% endcomment %}

            autocomplete="off"

            placeholder="{% trans "Category" %}"
            required
            />
        <i
            class="icon-exclamation icon-2x input-icon-append input-error"
            ng-show="transactionForm.category.$error.required && transactionForm.category.$dirty"
            ></i>
    </div>

    <div class="form-group input-icon">
        <i class="icon-dollar input-icon-prepend"></i>
        <input
            id="id_value"
            name="value"
            type="text"
            class="form-control"

            ng-model="formData.value"
            ex-valuefield

            {% comment %}
            bs-tooltip
            title="{% trans "Use a &quot;+&quot; sign to indicate positive values." %}"
            data-placement="right"
            {% endcomment %}

            autocomplete="off"
            placeholder="{% trans "Value" %}"
            />
    </div>

    <div class="form-group input-icon">
        <i class="icon-pencil input-icon-prepend"></i>
        <input
            id="id_description"
            maxlength="200"
            name="description"
            type="text"
            class="form-control"

            ng-model="formData.description"

            placeholder="{% trans "Description (optional)" %}"
            autocomplete="off"
            />
    </div>

    <div ex-datepicker="formData.date"></div>

    <hr/>

    {% comment %}
    <label class="checkbox" ng-show="false">
        <input type="checkbox" ng-model="isRepeat">{% trans "Repeat this transaction" %}</input>
    </label>

    <div class="control-group" ng-class="{error: errors.repeat}">
        <div class="controls">
            <label class="control-label" for="repeat">{% trans "Create a reminder that repeats:" %}</label>
            <select name="repeat" ng-model="formData.repeat" ng-options="label for label in repeatOptions" ng-required="isRepeat"></select>
            <span class="help-block" ng-show="errors.repeat">{% trans "Required" %}</span>
        </div>
    </div>
    {% endcomment %}

    <button ng-click="submit()" class="btn" ng-disabled="sending">
    <i ng-show="sending" class="icon-spinner icon-spin icon-large"></i>
    <i ng-hide="sending" class="icon-ok icon-large"></i>
    {% trans "Submit" %}
    </button>
</form>


</div>
</div>
