{% load staticfiles %}
{% load humanize %}
{% load expenses_tags %}
{% load i18n %}

<div class="span3">
    {% include "webapp/forms/entry.html" %}
</div>

<div class="span6">

    <div ng-show="reminders.length" ng-controller="RemindersCtrl">
        {% verbatim %}
        <div ng-repeat="reminder in reminders" class="reminder">

            <p>This transaction is due {{reminder.remainingDays()}}. Please confirm, edit or cancel this transaction.</p>

            <span ex-category="reminder.category"></span>
            <span ex-currency ex-currency-value="reminder.value"></span>

            <div class="buttons">
                <i class="icon-ok ok"></i>
                <i class="icon-pencil edit"></i>
                <i class="icon-remove cancel"></i>
            </div>
        </div>
        {% endverbatim %}
        
    </div>

    <div class="well" ng-controller="TransactionListCtrl">
         
        <h4 class="panel-title">{% trans "Transactions" %}</h4>

        <div class="month-selector">
            <button ex-month-selector="filterDate"></button>
        </div>

        <div ng-repeat="day in days | orderBy: 'day':true">
            <table class="table">
                <thead><tr>
                    <td colspan="3" ng-bind="day.day | date:'fullDate'"></td>
                </tr></thead>
                <tbody>
                    <tr
                        class="entry-row"
                        ng-repeat="transaction in day.transactions"
                        >

                        <td class="category-column">
                            <span ex-category="transaction.category"></span>
                        </td>

                        <td class="description-column" ng-bind="transaction.description"></td>

                        <td class="value-column">
                            <span ex-currency ex-currency-value="transaction.value"></span>
                        </td>

                        <td class="action-bar" ex-actionbar ng-controller="TransactionActionBarCtrl">
                            <i
                                class="icon-trash delete-entry"
                                ng-click="removeTransaction()"
                            ></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- repeat -->

        <div id="empty-msg" ng-hide="days.length"> 
            {% trans "No transacions for the period." %}
        </div>

    </div> <!-- well -->

</div>

<div class="span3">
    {% include "webapp/month_balance_panel.html" %}
</div>
