{% load i18n %}

<div class="span3">
    {% include "webapp/transaction-form.html" %}
</div>

<div class="span6">

    {% comment %}
    {% include "webapp/reminder-list.html" %}
    {% endcomment %}

    <div class="well" ng-controller="TransactionListCtrl">
         
        <h4 class="panel-title">{% trans "Transactions" %}</h4>

        <div class="month-selector">
            <button ex-month-selector="filterDate"></button>
        </div>

        <div ng-repeat="day in days | orderBy: 'day':true">
            <table class="transaction-table">
                <thead class="header">
                    <tr class="transaction-list-day">
                        <th colspan="4" ng-bind="day.day | date:'fullDate'"></th>
                    </tr>
                    <tr class="transaction-list-columns">
                        <th>{% trans "Category" %}</th>
                        <th class="description-column-header">{% trans "Description" %}</th>
                        <th class="value-column-header">{% trans "Value" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        class="transaction-row"
                        ng-repeat="transaction in day.transactions"
                        >

                        <td class="category-column">
                            <span ex-category="transaction.category"></span>
                        </td>

                        <td class="description-column" ng-bind="transaction.description"></td>

                        <td class="value-column">
                            <span ex-currency ex-currency-value="transaction.value"></span>
                        </td>

                        <td class="action-bar" ex-actionbar ng-controller="TransactionActionBarCtrl">
                            <i
                                class="icon-trash delete-entry"
                                ng-click="removeTransaction()"
                            ></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- repeat -->

        <div id="empty-msg" ng-hide="days.length"> 
            {% trans "No transacions for the period." %}
        </div>

    </div> <!-- well -->

</div>

<div class="span3">
    {% include "webapp/month_balance_panel.html" %}
</div>
